@page
@using HospiEnCasa.App.Dominio
@model HospiEnCasa.App.Presentacion.Pages.SignosVitalesModel
@{
}

<h2 style="text-align: center; color:orange;">Registre sus signos vitales</h2>

<br>
<div class="border">
    <form method="post">
        <div asp-validation-sumary="ModelOnly" class="text-danger"></div>
        <div class="container" style="padding: 30px;">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="signoVital.FechaHora"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="signoVital.FechaHora" class="form-control">
                    </div>
                    <span asp-validation-for="signoVital.FechaHora" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="signoVital.Valor"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="signoVital.Valor" class="form-control">
                    </div>
                    <span asp-validation-for="signoVital.Valor" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <label asp-for="signoVital.Signo"></label>
                    </div>
                    <div class="col-sm-4">
                        <select asp-for="signoVital.Signo" asp-items="@Html.GetEnumSelectList<TipoSigno>()"></select>
                    </div>
                    <span asp-validation-for="signoVital.Valor" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-2">
                        <input type="submit" value="Guardar" class="btn btn-primary form-control">
                    </div>
                    <div class="col-sm-2">
                        <a asp-page="/Index" class="btn btn-success form-control">Volver</a>
                    </div>
                    
                </div>
            </div>
        </div>

        
    </form>

</div>