h2, h1, div{background-color: black;color: blanchedalmond;}
.lista{background-color: aqua;}
.fomulario{background-color: brown;}
li{text-align: center;}
.titulo{color: cornsilk;
background-color: darkblue;}
 #form{background-color: darkolivegreen;}
