@page
@model Ejemplo.Pages.PizzasModel
@{
}

<h1>Esta es la pagina de Pizzas</h1>

<h1 class="titulo" >Lista de Bebidas</h1>
    <div class="lista">
        <ul>
            <li>Cafe</li>
            <li>Te</li>
            <li >Chocolate</li>
        </ul>
    </div>
    <div class="fomulario">
        <h2 class="titulo" id="form">Formulario de acceso</h2>
        <form action="">
            <label class="italic" for="Nombre">Nombre</label>
            <input type="text">
            <br><br>
            <label for="">Apellidos</label>
            <input type="text">
            <br>
            
            <button>Enviar</button>
        </form>
    </div>
    <div>
        <h2>este es el titulo ejemplo</h2>
        
    </div>

<img src="https://img.lalr.co/cms/2018/10/10213933/pizza1.jpg?size=xl&ratio=r40_21" alt="">