@page
@model Ejemplo.Pages.ProductosModel
@{
    ViewData["Title"] = "Productos";
}
<h1>Lista de Productos</h1>

<table class="table">
    <tr>
    @foreach (var x in Model.listaProductos)
    {
        
            <td>@x</td>
       
    }
     </tr>
     <tr>
        <td>
            <a class="btn btn-primary table-btn" asp-page="/Productos/Pizzas">Privacidad</a>
        </td>

     </tr>
</table>



